:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --hero-footer-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
}
.webstudio-header,
.webstudio-footer {
  font-family: Raleway, sans-serif;
}
/* header */
header a {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.address a:hover,
.address a:focus {
  color: var(--accent-color);
}

.contacts-list a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-list a:hover {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--hero-footer-color);
}
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* principle */
.principle-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.principle-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* command */
.command-section {
  background-color: var(--secondary-bg-color);
}
.command-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-list .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* button */
.button.primary,
button:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  text-decoration: none;
}
button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-style: none;
}

/* footer */
footer,
footer a {
  background-color: var(--hero-footer-color);
  color: var(--primary-bg-color);
  text-decoration: none;
  font-style: normal;
}
.address {
  color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Портфолио */
.portfolio-list a {
  text-decoration: none;
}
.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
